<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dictionary Demo</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <main>
    <header>
      <a class="logo" href="/">Dictionary Demo</a>
      <form action="/search" method="GET">
        <input autofocus class="search-input" placeholder="Enter word to search" type="search" name="q">
      </form>
      <a href="https://github.com/mygocode/dictionary" class="button github-button">View on Github</a>
    </header>
    <section class="container">

        {{range .}}      
        Searc Term: {{.Word}} <br>
            {{if (ne .Origin "")}} Origin : {{.Origin}} {{end}}<br>
            Meaning:
            <p>
              {{range .Meaning.Noun}} <br>
              {{if (ne .Definition "")}} 
                  <div style="color: cornflowerblue;">Def:</div> {{ .Definition}} <br> {{end}}
              {{if (ne .Example "")}}  
                  <div style="color: darkgoldenrod;">Example:</div> {{ .Example}} <br> {{end}}  
              {{end}}          
            </p>
            
              {{range .Meaning.Verb}} <br>            
              Verb:
                {{if (ne .Definition "")}} 
                    <div style="color: cornflowerblue;">Def:</div> {{ .Definition}} <br> {{end}}
                {{if (ne .Example "")}}  
                    <div style="color: darkgoldenrod;">Example:</div> {{ .Example}} <br> {{end}}  

                Synonyms: <br>
                {{ range $key , $val := .Synonyms}}
                  {{ $key}}  - {{ $val}} <br>
                {{end}}
                <br>
              {{end}}             
        {{end}}

    </section>
  </main>
</body>
</html>
